In [1]:
import pandas as pd

In [2]:
student_data = [
    [1, 15],
    [2, 11],
    [3, 11],
    [4, 20]
]

In [3]:
df=pd.DataFrame(student_data,columns=["student_id","age"])
df

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

In [6]:
list(df.shape)

[4, 2]

In [7]:
data = {
    "student_id": [100, 101, 102, 103],
    "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [15, 16, 14, 17]
}

In [8]:
students_df = pd.DataFrame(data)

In [9]:
#masking
students_df[students_df["student_id"]==101][["name","age"]]

  name  age
1  Bob   16